{% extends "base.html" %} {% block content %}
<div class="container">
  <div
    class="card info-card position-absolute top-50 start-50 translate-middle"
  >
    <h1 class="text-center">Info about our app <strong>Travelly</strong></h1>
    <p>
      Travelly is an app where people around the world can come. Sign up and
      share their favorite places to visit. It could be a cafe, museum,
      restaurant, ballroom the possibilities are endless. Share you favortie
      places with others to visit and enjoy them as you have enjoyed it.
    </p>
  </div>
</div>

{% endblock %}
