{% extends "base.html" %} {% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2">
                About Travelly
              </h2>
              <hr>
              <h3>Travelly is an app where people around the world could go on and post there favorite places to visit. It could be either a resturant, amusement park, museum, or a historical site. People would be able to post and explain why they love that place and why a someone should visit.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
