{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ post.title }}</h1>
  <h2>Written by: {{post.author.username}}</h2>
  <h3>Published: {{ post.date.strftime('%B %d, %Y') }}</h3>
  <p>{{post.text}}</p>
  {% if post.author == current_user %}
    <div class="modal-footer">
        <a class="btn" href="{{ url_for('travel_posts.update', travel_post_id=post.id) }}">Update</a>
        <br>
        <form action="{{ url_for('travel_posts.delete_post', travel_post_id=post.id) }}" method="POST">
        <input class="btn" type="submit" value="Delete">
      </form>
    </div>
  {% endif %}
</div>
{% endblock content %}